# 통계분석 과제 
## df_Xtrain= pd.read_csv('X_train.csv',encoding = 'cp949')
## 1 . X_train 데이터에서 강남점과 일산점의 총구매액 평균의 차이를 검정하세요 (정규성은 만족한다고 가정)

In [3]:
import pandas as pd 
df_Xtrain= pd.read_csv('data/X_train.csv',encoding = 'cp949')
df_Xtrain

,cust_id,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,0,68282840,11264000,6860000.0,기타,강남점,19,3.894737,0.527027,17
1,1,2136000,2136000,300000.0,스포츠,잠실점,2,1.500000,0.000000,1
2,2,3197000,1639000,NaN,남성 캐주얼,관악점,2,2.000000,0.000000,1
3,3,16077620,4935000,NaN,기타,광주점,18,2.444444,0.318182,16
4,4,29050000,24000000,NaN,보석,본 점,2,1.500000,0.000000,85
...,...,...,...,...,...,...,...,...,...,...
3495,3495,3175200,3042900,NaN,골프,본 점,1,2.000000,1.000000,0
3496,3496,29628600,7200000,6049600.0,시티웨어,부산본점,8,1.625000,0.461538,40
3497,3497,75000,75000,NaN,주방용품,창원점,1,1.000000,0.000000,0
3498,3498,1875000,1000000,NaN,화장품,본 점,2,1.000000,0.000000,39
3499,3499,263101550,34632000,5973000.0,기타,본 점,38,2.421053,0.467391,8

In [20]:
# 데이터 구분
df_Xtrain.info()
df_Xtrain.isnull().sum()
df_gn = df_Xtrain.loc[df_Xtrain['주구매지점'] == '강남점', '총구매액']
df_il = df_Xtrain.loc[df_Xtrain['주구매지점'] == '일산점', '총구매액']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     1205 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 273.6+ KB

In [25]:
#df_gn = pd.DataFrame(df_gn)
#df_il = pd.DataFrame(df_il)
print(df_gn.mean())
print(df_il.mean())
print(df_il.mean() - df_gn.mean())
#type(df_gn)

70007904.68965517
108203183.8888889
38195279.199233726

In [18]:
# 정규성은 만족한다고 가정, 등분산성 검정
import scipy.stats as stats
from scipy.stats import shapiro

In [22]:
stats.levene(df_gn, df_il) # 시리즈 대입

LeveneResult(statistic=4.984728737913695, pvalue=0.02622071970102609)

In [24]:
# 결론 : 등분산성을 만족하지 않는다.
# 위를 기반으로 독립 T 검정 수행
stats.ttest_ind(df_gn, df_il, equal_var = False)

Ttest_indResult(statistic=-2.0905294693218486, pvalue=0.037464693045676484)

In [ ]:
# 강남점과 일산점의 약 3800만원 차이는 통계적으로 유의미하다.